.layout {
	background-color: var(--background);
	color: var(--text);
	margin: 0 auto;
	max-width: 100vw;
	display: grid;
	grid-template-columns: 300px 1fr
}

.content {
	border-left: 1px solid var(--border);
	border-right: 1px solid var(--border);
}

@media (max-width: 780px) {
	.layout {
		grid-template-columns: 80px 1fr;
	}
	.content {
		width: 90%;
	}
}

@media (max-width: 320px) {
	.layout {
		grid-template-columns: 60px 1fr;
	}
	.content {
		width: 95%;
	}
}