* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

:root {
	--twitter-blue: #1da1f2;
	--background: #FFFFFF;
	--text: #0F1419;
	--separator: #EBEEF0;
	--border: #F7F9FA;
}

[data-theme='dark'] {
	--twitter-blue: #1da1f2;
	--background: #121214;
	--text: #FFFFFF;
	--separator: #202020;
	--border: #2F2F2F;
}

body {
	-webkit-font-smoothing: antialised;
}

body, input, textarea, button {
	font: 400 1rem Roboto, sans-serif;
}

button {
	cursor: pointer;
}

a {
	color: inherit;
}
