* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

:root {
	--twitter-blue: #1da1f2;
}

body {
	color: #0F1419;
	-webkit-font-smoothing: antialised;
}

body, input, textarea, button {
	font: 400 1rem Roboto, sans-serif;
}

button {
	cursor: pointer;
}

a {
	color: inherit;
}
