.sidebar {
	padding: 1rem 1rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.sidebar .logo {
	width: 2rem;
	height: 2rem;
}

.sidebar .new-tweet {
	background-color: var(--twitter-blue);
	border-radius: 9999px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 1rem;
	color: #fff;
	font-size: 1.25rem;
	font-weight: 900;
	border: 0;
}

.sidebar .new-tweet svg {
	width: 1.5rem;
	height: 1.5rem;
	display: none;
}

.sidebar .new-tweet:hover {
	filter: brightness(0.95);
}

.main-navigation {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.main-navigation a {
	display: flex;
	align-items: center;
	gap: 1.25rem;
	font-size: 1.25rem; 
	font-weight: 700;
	text-decoration: none
}

.main-navigation a svg{
	width: 2rem;
	height: 2rem;
}

.main-navigation a.active {
	color: var(--twitter-blue)
}

@media (max-width: 780px) {
	.sidebar {
		align-items: center;
		padding: 1.5rem 0.75rem;
	}

	.main-navigation a span {
		display: none;
	}

	.sidebar .new-tweet svg {
		display: block;
	}

	.sidebar .new-tweet span {
		display: none;
	}
}

@media (max-width: 320px) {
	.sidebar .new-tweet {
		padding: 0.5rem;

	}
}