.answer-tweet-form {
	padding: 1.5rem 1.25rem;
	display: flex;
	gap: 0.5rem;
	align-items: center;
	border-bottom: 1px solid #ebeef0
}

.answer-tweet-form label {
	display: flex;
	flex: 1;
	align-items: center;
	gap: 0.5rem;
}

.answer-tweet-form label img {
	width: 3rem;
	height: 3rem;
	border-radius: 9999px;
}

.answer-tweet-form label textarea {
	flex: 1;
	border: 0;
	font-size: 1.25rem;
	font-weight: 500;
	margin-top: 2rem;
	resize: none;
}

.answer-tweet-form label textarea:focus {
	outline: none;
}

.answer-tweet-form label textarea::placeholder {
	color: #5b7083;
}

.answer-tweet-form button[type=submit] {
	margin-left: auto;
	background-color: var(--twitter-blue);
	border-radius: 9999px;
	padding: 0.75rem 1.5rem;
	color: #fff;
	font-size: 1rem;
	font-weight: 700;
	border: 0
}

.answer-tweet-form button[type=submit]:hover {
	filter: brightness(0.9);
}

.answer-tweet-form button[type=submit] svg {
	width: 1.5rem;
	height: 1.5rem;
	display: none;
}

@media (max-width: 780px) {

	.answer-tweet-form {
		flex-direction: column;
		align-items: start;
	}

	.answer-tweet-form label textarea {
		font-size: 1rem;
	}

	.answer-tweet-form button[type=submit] svg {
		padding: 0.25rem;
	}

	.answer-tweet-form button[type=submit] svg {
		display: block;
	}
	.answer-tweet-form button[type=submit] span {
		display: none;
	}
}